@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), local("Gilroy"), url("../fonts/Gilroy.woff2") format("woff2"), url("../fonts/Gilroy.woff") format("woff");
}
* {
  transition: all 0.1s ease-in;
}

body {
  position: relative;
  width: auto;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
}

svg {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /*border: 1px solid red;*/
}

.page-header {
  position: relative;
}
.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0 2.5rem 0;
}
.page-header__logo-icon {
  width: 49px;
  height: 49px;
}
.page-header__logo-icon:hover {
  opacity: 0.6;
}
.page-header__burger {
  width: 24px;
  height: 16px;
  margin-top: 13px;
  color: #356EAD;
}
.page-header__burger--active {
  width: 32px;
  height: 32px;
  margin-top: 0;
}
.page-header__burger--active .page-header__burger-line--first {
  opacity: 0;
}
.page-header__burger--active .page-header__burger-line--second {
  transform: translateY(-50%) rotate(45deg);
}
.page-header__burger--active .page-header__burger-line--third {
  top: 50%;
  transform: translateY(-120%) rotate(-45deg);
}
.page-header__burger-line {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #356EAD;
  transition: 0.3s all linear;
}
.page-header__burger-line--first {
  top: 1px;
}
.page-header__burger-line--second {
  top: 50%;
  transform: translateY(-50%);
}
.page-header__burger-line--third {
  top: 95%;
  transform: translateY(-100%);
}
.page-header__nav-wrapper {
  display: none;
}
.page-header__nav-wrapper--show {
  display: block;
  animation: bounce 0.6s;
}
.page-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-header__item {
  margin-bottom: 2.5rem;
}
.page-header__item:nth-child(3) {
  margin-bottom: 0;
}
.page-header__link {
  font-family: "Galien", "Times New Roman", serif;
  font-size: 38px;
  line-height: 46px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #356EAD;
  text-align: center;
}
.page-header__link:hover {
  color: #98c4e7;
}
.page-header__link:active, .page-header__link:focus {
  color: #e2ecf0;
}

.form-page .page-header__wrapper {
  padding: 2.5rem 0 2.5rem 0;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: stretch;
}

.news__slider-list .slick-track {
  margin-bottom: 3.125rem;
}

.page-main__wrapper-two {
  background-color: #5a98d0;
}
.page-main__title-wrapper-two {
  padding: 50px 0 50px 0;
}
.page-main__title-two {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #356EAD;
  opacity: 0.8;
  text-transform: uppercase;
}
.page-main__title-wrapper-three {
  padding: 50px 0 50px 0;
}
.page-main__title-three {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #356EAD;
  text-align: center;
  opacity: 0.8;
  text-transform: uppercase;
}

.intro {
  padding: 4.0625rem 0 0 0;
  background: linear-gradient(0deg, #ebf4fc 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.intro__wrapper {
  display: flex;
  justify-content: flex-start;
}
.intro__title-wrapper {
  position: relative;
}
.intro__title {
  margin: 0 auto;
  margin-bottom: 5.625rem;
  font-family: "Galien", "Times New Roman", serif;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  text-align: center;
}
.intro__text {
  margin: 0;
  margin-bottom: 5rem;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  text-align: center;
  opacity: 0.6;
}
.intro__text br {
  display: none;
}
.intro__button {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 15px 0 15px 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #5A98D0;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.intro__button:hover {
  color: #5A98D0;
  background: transparent;
  border-radius: 0px;
  border: 1px solid #5A98D0;
}
.intro__button:focus, .intro__button:active {
  color: #808080;
  border-color: #808080;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6.25rem 0 40px 0;
}
.features__list-title {
  margin: 0 auto;
  margin-bottom: 5.9375rem;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
  text-align: center;
}
.features__list {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.features__item {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 5.9375rem;
  padding: 3rem 3rem 3rem 3rem;
  box-sizing: border-box;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}
.features__image {
  margin-bottom: 3.875rem;
}
.features__image--first {
  margin-bottom: -20px;
  transform: translateX(-25px) translateY(-70px);
}
.features__image--second {
  transform: translateX(-15px) translateY(5px);
}
.features__image--third {
  transform: translateX(-15px) translateY(5px);
}
.features__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #1F3F68;
}
.features__text {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #1F3F68;
}
.features__link {
  position: relative;
  margin-right: 10px;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}
.features__link::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 107px;
  width: 28px;
  height: 18px;
  background: url(../img/arrow.svg) no-repeat;
}
.features__link:hover {
  opacity: 0.7;
}
.features__link:hover::after {
  left: 9.1875rem;
  opacity: 0.6;
}

.projects__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 940px;
  margin: 0 auto;
}
.projects__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
  text-align: center;
}
.projects__text {
  margin: 0;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #1F3F68;
  text-align: center;
}
.projects__text br {
  display: none;
}
.projects__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.projects__item {
  width: 100%;
  margin-bottom: 80px;
}
.projects__image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.clients {
  margin-bottom: -3px;
  padding: 5.9375rem 0 7.8125rem 0;
  background-color: #5A98D0;
  border-radius: 12.5rem 0 0 0;
}
.clients__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.clients__list-title {
  margin: 0 auto;
  margin-bottom: 3.75rem;
  font-size: 36px;
  line-height: 46px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}
.clients__text {
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  opacity: 0.6;
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.clients__item {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 2.5625rem 0 2.5625rem 0;
  box-sizing: border-box;
}
.clients__item:nth-child(n) {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.clients__item:nth-child(2) {
  border-right: none;
  border-bottom: 1px solid #ffffff;
}
.clients__item:nth-child(even) {
  border-right: none;
}
.clients__item:nth-child(n+7) {
  border-bottom: none;
}
.clients__item:nth-last-child(1) {
  background: #1F3F68;
  border-right: none;
}
.clients__logo {
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
}
.clients__logo:hover {
  opacity: 0.4;
}
.clients__link {
  font-size: 18px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.clients__link:hover {
  opacity: 0.4;
}

.sentence {
  margin-bottom: -3px;
  background-color: #5A98D0;
}
.sentence__bg-wrapper {
  position: relative;
  height: 100%;
  margin-right: 6px;
  padding: 5.75rem 0 0 0;
  background-color: #316099;
  border-radius: 0 12.5rem 0 0;
  box-sizing: border-box;
}
.sentence__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sentence__title {
  margin: 0 auto;
  margin-bottom: 3.75rem;
  font-size: 36px;
  line-height: 46px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}
.sentence__text {
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  opacity: 0.6;
}
.sentence__button {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 15px 0 15px 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #5A98D0;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.sentence__button:hover {
  color: #5A98D0;
  background: transparent;
  border-radius: 0px;
  border: 1px solid #5A98D0;
}
.sentence__button:focus, .sentence__button:active {
  color: #808080;
  border-color: #808080;
}
.sentence__line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.4;
}

.top {
  background-image: url(../img/bgform.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.top__wrapper {
  padding: 3.125rem 0 3.125rem 0;
}
.top__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 74px;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}
.top__text {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
}

.form-page .sentence {
  background-color: #ffffff;
}

.input-group {
  padding: 40px 0 40px 0;
}
.input-group__item {
  position: relative;
}
.input-group__search-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  color: #495057;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.input-group__icon {
  width: 22px;
  height: 22px;
}
.input-group__input {
  width: 100%;
  padding: 20px 20px 20px 80px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border: 0;
  border-radius: 0 10px 10px 0;
  outline: none;
  opacity: 0.6;
}

.news__slider-list {
  position: relative;
  margin: 0;
  padding: 0;
  padding: 0 1.875rem 5rem 1.875rem;
  text-align: center;
  list-style: none;
}
.news__slider-item {
  max-width: 300px;
  box-sizing: border-box;
}
.news__slider-list .slick-arrow {
  position: absolute;
  top: 33%;
  z-index: 10;
  width: 40px;
  height: 40px;
  font-size: 0;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 50%;
  outline: none;
}
.news__slider-list .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.news__slider-list .slick-dots li {
  margin-left: 1.875rem;
  list-style: none;
}
.news__slider-list .slick-dots li:first-child {
  margin-left: 0;
}
.news__slider-list .slick-dots button {
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  outline: none;
}
.news__slider-list .slick-dots li.slick-active button {
  background-color: transparent;
  border: none;
  border: 1px solid #ffffff;
}
.news__card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1.875rem 10px 1.875rem 0.3125rem;
  box-sizing: border-box;
}
.news__title {
  margin: 0;
  margin-bottom: 10px;
  min-height: 140px;
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2c4058;
}
.news__presentation {
  margin: 0;
  margin-bottom: 2.5rem;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #4b5562;
}
.news__image {
  width: 100%;
  min-height: 200px;
}
.news__author-wrapper {
  display: flex;
  justify-content: space-between;
}
.news__author-info {
  margin-bottom: 2.1875rem;
}
.news__author-name {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #2c4058;
}
.news__data {
  font-size: 14px;
  line-height: 22px;
  color: #55b7ff;
}
.news__author-info, .news__forward-info {
  margin: 0 auto;
}
.news__forward-icon:first-child {
  margin-bottom: 20px;
}

.overview__list {
  margin: 0;
  padding: 0;
}
.overview__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 15px 15px 15px;
  box-sizing: border-box;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.overview__image {
  width: 100%;
  height: 100%;
}
.overview__author-wrapper {
  display: flex;
  justify-content: space-between;
}
.overview__author-info {
  margin-bottom: 2.1875rem;
}
.overview__author-name {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #2c4058;
}
.overview__data {
  font-size: 14px;
  line-height: 22px;
  color: #55b7ff;
}
.overview__forward-icon:first-child {
  margin-bottom: 20px;
}

.page-footer {
  background-color: #5A98D0;
}
.page-footer__bg-wrapper {
  margin-right: 6px;
  padding: 3.4375rem 0 2.5rem 0;
  background-color: #316099;
}
.page-footer__column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.page-footer__left-wrapper {
  margin: 0 auto;
  margin-bottom: 2.8125rem;
  text-align: center;
}
.page-footer__right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  text-align: center;
}
.page-footer__logo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.page-footer__logo:hover {
  opacity: 0.6;
}
.page-footer__logo-icon {
  width: 49px;
  height: 49px;
}
.page-footer__logo-name {
  margin-left: 15px;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.page-footer__copyright {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
  text-align: center;
}

.form-page .page-footer {
  background-color: #ffffff;
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.3125rem;
}
.contacts__address, .contacts__link, .contacts__marker {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-style: normal;
  color: #ffffff;
  opacity: 0.8;
}
.contacts__address, .contacts__link {
  margin-left: 15px;
}

.info {
  margin-bottom: 45px;
}

.social {
  margin-bottom: 80px;
}

.info__title,
.social__title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.8;
}
.info__list,
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.info__item,
.social__item {
  margin-bottom: 16px;
}
.info__link,
.social__link {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.8;
}
.info__link:hover,
.social__link:hover {
  opacity: 0.4;
}

.company__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.4375rem 0 6rem 0;
}
.company__left-wrapper {
  margin-top: 4.1875rem;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.company__image {
  margin-bottom: 4.375rem;
}
.company__item {
  margin-bottom: 2.5rem;
}
.company__item--tel {
  margin-bottom: 1.5625rem;
}
.company__title {
  display: block;
  margin-bottom: 1.4375rem;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #1F3F68;
  text-transform: uppercase;
}
.company__link-shell {
  display: flex;
  justify-content: flex-start;
}
.company__location, .company__link {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-style: normal;
  color: #1F3F68;
  opacity: 0.6;
}
.company__link {
  margin-bottom: 16px;
  margin-left: 20px;
  letter-spacing: 0.04em;
}
.company__icon {
  width: 18px;
  height: 18px;
  margin-top: 7px;
}

.form__wrapper {
  width: 290px;
  padding: 3.5rem 0.925rem 3.5rem 0.925rem;
  box-sizing: border-box;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 0.625rem;
}
.form__title {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #1F3F68;
  text-transform: uppercase;
}
.form__controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form__label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
.form__input {
  width: 100%;
  padding: 0.6rem 2.6875rem 0.6rem 2.25rem;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  box-sizing: border-box;
  border: 1px solid #356EAD;
  border-radius: 10px;
  opacity: 0.4;
  outline: none;
}
.form__input--textarea {
  margin-bottom: 2.375rem;
  padding: 1.0625rem 2.75rem 0.5rem 1.625rem;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
.form__button {
  width: 100%;
  padding: 0.9rem 0 0.9rem 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #5A98D0;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.form__button:hover {
  color: #5A98D0;
  background: transparent;
  border-radius: 0;
  border: 1px solid #5A98D0;
}
.form__button:focus, .form__button:active {
  color: #808080;
  border-color: #808080;
}

.map {
  margin-bottom: 5.375rem;
}

#map {
  width: 79%;
  min-height: 480px;
  margin: 0 auto;
  border: 0 none;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    padding-bottom: 1.875rem;
  }
  .page-header__list {
    display: flex;
    flex-direction: row;
  }
  .page-header__item {
    margin-right: 3.75rem;
    margin-bottom: 0;
  }

  .page-main__title-wrapper-two {
    padding: 10.625rem 0 5.625rem 0;
  }
  .page-main__title-two {
    font-size: 44px;
  }
  .page-main__title-wrapper-three {
    padding: 10.625rem 0 5.625rem 0;
  }
  .page-main__title-three {
    font-size: 44px;
  }

  .intro__background {
    position: absolute;
    z-index: -1;
    right: 4.375rem;
    top: 10.625rem;
    width: 688px;
    min-height: 624px;
    background-image: url(../img/bg1.svg);
    background-repeat: no-repeat;
  }
  .intro__title-wrapper {
    width: 50%;
    margin-left: 8.125rem;
  }
  .intro__title {
    margin: 0;
    margin-bottom: 20.625rem;
    font-size: 56px;
    line-height: 74px;
    text-align: left;
  }
  .intro__text {
    text-align: left;
  }
  .intro__button {
    margin: 0;
    margin-bottom: 5rem;
  }

  .features__wrapper {
    padding: 10.625rem 0 60px 0;
  }
  .features__item {
    width: 380px;
  }
  .features__image--first {
    margin-bottom: -20px;
    transform: translateX(20px) translateY(-70px);
  }
  .features__image--second {
    transform: translateX(15px) translateY(5px);
  }
  .features__image--third {
    transform: translateX(35px) translateY(5px);
  }

  .projects__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects__item--first {
    width: 100%;
  }
  .projects__item--second {
    width: 45%;
    margin-right: 5%;
  }
  .projects__item--third {
    width: 45%;
    margin-left: 5%;
  }
  .projects__item--first img {
    width: 100%;
  }
  .projects__item--second img {
    width: 100%;
  }
  .projects__item--third img {
    width: 100%;
  }

  .overview__item {
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  .overview__image {
    margin-right: 40px;
  }

  .clients__item {
    width: 25%;
  }
  .clients__item:nth-child(n) {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .clients__item:nth-child(4) {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .clients__item:nth-child(n+5) {
    border-bottom: none;
  }
  .clients__item:nth-last-child(1) {
    background: #1F3F68;
    border-right: none;
  }
  .clients__logo {
    font-size: 20px;
  }

  .sentence__bg-wrapper {
    margin-right: 96px;
  }
  .sentence__line {
    width: 86%;
  }

  .news__slider-list {
    max-width: 780px;
    margin: 0 auto;
  }
  .news__slider-item {
    max-width: 350px;
    padding: 0 3px 0 3px;
    text-align: left;
  }
  .news__slider-list .slick-arrow.slick-prev {
    left: -1%;
    background: url("../img/sl-arrow_l.svg") 50% no-repeat;
  }
  .news__slider-list .slick-arrow.slick-next {
    right: -1%;
    background: url("../img/sl-arrow_r.svg") 50% no-repeat;
  }
  .news__card-wrapper {
    display: block;
    padding: 1.875rem 15px 1.875rem 1.875rem;
  }
  .news__title {
    min-height: 80px;
    font-size: 18px;
  }
  .news__presentation {
    margin: 0;
    margin-bottom: 2.5rem;
    font-size: 15px;
  }
  .news__image {
    display: block;
    width: 100%;
  }
  .news__slider-item--travels h3 br {
    display: none;
  }
  .news__author-info, .news__forward-info {
    margin: 0;
  }

  .page-footer__bg-wrapper {
    margin-right: 6rem;
  }

  .social {
    margin-bottom: 5rem;
  }

  .company__wrapper {
    padding: 3.4375rem 6.25rem 6rem 8.125rem;
  }
  .company__left-wrapper {
    padding: 0;
  }
  .company__image {
    margin-left: 15px;
  }

  .form__wrapper {
    width: 540px;
    padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  }
  .form__input {
    padding: 1.3125rem 2.6875rem 1.3125rem 2.25rem;
  }
  .form__button {
    padding: 1.4375rem 0 1.4375rem 0;
  }
}
@media (min-width: 1140px) {
  .intro {
    padding: 4.0625rem 0 6.875rem 0;
  }
  .intro__title {
    margin-bottom: 2.1875rem;
  }
  .intro__text br {
    display: block;
  }
  .intro__background {
    right: 1.25rem;
    top: 5.625rem;
    width: 688px;
    min-height: 624px;
  }

  .features {
    padding: 5.625rem 0 0 0;
  }
  .features__wrapper {
    flex-direction: row;
    padding: 6.25rem 0 80px 8.125rem;
  }
  .features__list-title {
    margin: 0;
    margin-right: 12.5rem;
    margin-bottom: 2.5rem;
    text-align: left;
  }
  .features__list {
    margin: 0;
  }
  .features__item {
    margin-left: 0;
    margin-right: 0;
  }
  .features__item--second {
    position: absolute;
    top: 290px;
    left: -480px;
  }

  .clients__title-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 0 6.875rem 8.125rem;
    justify-content: flex-start;
  }
  .clients__list {
    width: 940px;
  }
  .clients__list-title {
    display: block;
    margin: 0;
    text-align: left;
  }
  .clients__text {
    margin: 0;
    margin-left: 5.8125rem;
    text-align: left;
  }

  .sentence__wrapper {
    padding: 0 0 0 11.25rem;
  }
  .sentence__title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    text-align: left;
  }
  .sentence__text {
    margin: 0;
    margin-bottom: 6.25rem;
    text-align: left;
  }
  .sentence__button {
    position: absolute;
    top: 25%;
    left: 68%;
    width: 220px;
    margin: 0;
  }

  .news__slider-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.875rem 5rem 1.875rem;
  }
  .news__slider-item {
    padding: 0 5px 0 5px;
  }
  .news__slider-list .slick-arrow.slick-prev {
    left: -3%;
    background: url("../img/sl-arrow_l.svg") 50% no-repeat;
  }
  .news__slider-list .slick-arrow.slick-next {
    right: -3%;
    background: url("../img/sl-arrow_r.svg") 50% no-repeat;
  }
  .news__card-wrapper {
    padding: 1.875rem 15px 1.875rem 1.875rem;
  }
  .news__title {
    font-size: 18px;
  }
  .news__presentation {
    margin: 0;
    margin-bottom: 2.5rem;
    font-size: 15px;
  }

  .projects__text-wrapper {
    align-items: stretch;
  }
  .projects__title {
    text-align: left;
  }
  .projects__text {
    text-align: left;
  }

  .page-footer__bg-wrapper {
    margin-right: 6rem;
    padding: 5.9375rem 0 4rem 0;
  }
  .page-footer__wrapper {
    padding: 0 0 0 11.25rem;
  }
  .page-footer__column-wrapper {
    flex-direction: row;
  }
  .page-footer__left-wrapper {
    margin-right: 8.125rem;
    margin-left: 0;
    text-align: left;
  }
  .page-footer__right-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }
  .page-footer__copyright {
    text-align: left;
  }

  .info {
    margin-right: 4.375rem;
    margin-bottom: 0;
  }

  .social {
    margin-bottom: 0;
  }

  .company__wrapper {
    display: flex;
    flex-direction: row;
    padding: 3.4375rem 6.25rem 6rem 8.125rem;
  }
  .company__right-wrapper {
    margin-left: 5.625rem;
  }

  .form__wrapper {
    width: 540px;
    padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  }
}